.carousel-caption-title {
    background-color: rgba(51, 51, 51, 0.5);
    padding: 10px;
    color: #fff;
}

body {
    background-color: #001C30;
}

h1, h2, h3, h4, h5, h6 {
    color: #DAFFFB;
}

p, span, a {
    color: #DAFFFB;
}

a {
    text-decoration: none;
}

.btn {
    background-color: #001C30;
    color: #fff;
    border: none;
}

.btn:hover {
    background-color: #DAFFFB;
    color: #001C30;
}

.navbar {
    background-color: #176B87;
    color: #fff;
}

footer {
    background-color:#001C30;
    color: #333;
}

.card {
    background-color: #176B87;
}
